Auto Post to Tiktok.json
{
  "name": "Auto Post to Tiktok",
  "nodes": [
    {
      "parameters": {
        "resource": "post",
        "organizationId": "6a2dba1ff998819f71a08547",
        "channelId": "6a2dc10138b557934591ae63|tiktok",
        "postText": "={{ $json.output }}",
        "attachmentType": "video",
        "videoUrl": "={{ $('Upload file').item.json.webContentLink }}"
      },
      "type": "@bufferapp/n8n-nodes-buffer.buffer",
      "typeVersion": 1,
      "position": [
        768,
        -704
      ],
      "id": "5dcb2b7e-69cf-45a6-b399-d65c681743dc",
      "name": "Create a post",
      "credentials": {
        "bufferApi": {
          "id": "bWnUxGxuBDOvJUyd",
          "name": "Buffer account"
        }
      }
    },
    {
      "parameters": {
        "videoUrl": "={{ $json['Posted Links'] }}"
      },
      "type": "n8n-nodes-youtube-dl.youTubeDL",
      "typeVersion": 1,
      "position": [
        -240,
        -704
      ],
      "id": "170cdbc6-1b07-418a-9396-da2cc9cae9c0",
      "name": "YouTube Downloader",
      "credentials": {
        "youTubeDLCookies": {
          "id": "j7SaFA6PfiTsJle2",
          "name": "YouTube Cookies account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "my Auto Poster ",
        "formDescription": "Paste Video url",
        "formFields": {
          "values": [
            {
              "fieldLabel": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -720,
        -704
      ],
      "id": "2c63e9c1-b168-476c-9b03-861da0c6be30",
      "name": "On form submission",
      "webhookId": "034d5649-969b-4003-92c1-b7a69a3f471d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xq5BLVtIbG6Ob2f5FYop5PNRPa2fQpoGy5gsYlSIeCE/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xq5BLVtIbG6Ob2f5FYop5PNRPa2fQpoGy5gsYlSIeCE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Posted Links": "={{ $json.url }}"
          },
          "matchingColumns": [
            "Posted Links"
          ],
          "schema": [
            {
              "id": "Posted Links",
              "displayName": "Posted Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        -704
      ],
      "id": "7c53888e-3c2b-4fb9-bc03-3aa4ed6b3b8b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vNtoa0CN5Mrqil4F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crushing XAUUSD   \n#xauusd #forex #trading #forextrading #viral \nexample above generate another short trading caption and 4 hastags.remove quote marks",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -704
      ],
      "id": "cae09417-dec8-4c74-af2f-639dc6ae6fe7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        -416
      ],
      "id": "bfd6fc55-8a97-48cd-8b52-6173a0af0b2c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xu8LcX0l5ggIPMLo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -704
      ],
      "id": "30498f93-db01-4880-96ee-4e9c3cb0d547",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6wFvceY1Jfm4x6Ha",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -704
      ],
      "id": "f040c6cd-e0ff-47f5-a7dd-ca5f813cee76",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6wFvceY1Jfm4x6Ha",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "YouTube Downloader": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "YouTube Downloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0ec97b29-6eb8-47a4-9515-1c225d22e71c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abed83f631b7beaf1d6c4fc5d39389330a389cbcd68924c0123caf0f3984e1ac"
  },
  "nodeGroups": [],
  "id": "AMwQo8WCnKDUR76U",
  "tags": [
    {
      "updatedAt": "2026-06-15T12:46:18.501Z",
      "createdAt": "2026-06-15T12:46:18.501Z",
      "id": "L65CcpQR26d9rKNg",
      "name": "Real"
    }
  ]
}